<body>
  <h1>Sundarpichai Biography</h1>
</body>

<img src="sundarpichai.jpeg">
<img src="pic1.jpeg">
<img src="pic2.jpeg">
<img src="pic3.jpeg">
<img src="pic4.jpeg">
<img src="pic5.jpeg" width="200px"height="180px">
<p><strong>Sundar Pichai</strong>, in full <strong>Pichai Sundararajan</strong>, (born June 10, 1972, Madras [now Chennai], <a href="https://www.britannica.com/place/Tamil-Nadu">Tamil Nadu</a>, India), Indian-born American executive who was <a href="https://www.britannica.com/money/chief-executive-officer">CEO</a> of both <a href="https://www.britannica.com/topic/Google-Inc">Google, Inc</a>. (2015– ), and its <a href="https://www.britannica.com/money/holding-company">holding company</a>, Alphabet Inc. (2019– ).
As a boy growing up in <a href="https://www.britannica.com/place/Chennai">Madras</a>, Pichai slept with his brother in the living room of the cramped family home, but his father, an electrical engineer at the British multinational GEC, saw that the boys received a good education. At an early age Pichai displayed an interest in technology and an extraordinary memory, especially for telephone numbers. After earning a degree in metallurgy (B.Tech., 1993) and a silver medal at the Indian Institute of Technology Kharagpur, he was awarded a scholarship to study at <a href="https://www.britannica.com/topic/Stanford-University">Stanford University</a>(M.S. in engineering and materials science, 1995). He remained in the United States thereafter, working briefly for Applied Materials (a supplier of semiconductor materials) and then earning an M.B.A. (2002) from the Wharton School of the <a href="https://www.britannica.com/topic/University-of-Pennsylvania">University of Pennsylvania</a>.</p>
<p>Following a short stint at the management consulting firm McKinsey & Co., Pichai joined Google in 2004 as the head of product management and development. He initially worked on the Google Toolbar, which enabled those using the Microsoft Internet Explorer and Mozilla Firefox Web browsers to easily access the Google search engine. Over the next few years, he was directly involved in the development of Google’s own browser, Chrome, which was released to the public in 2008. That same year Pichai was named vice president of product development, and he began to take a more-active public role. By 2012 he was a senior vice president, and two years later he was made product chief over both Google and the Android smartphone operating system.

  Sundar Pichai
  Sundar Pichai
  In 2011 Pichai reportedly was aggressively pursued for employment by microblogging service Twitter, and in 2014 he was touted as a possible CEO for Microsoft, but in both instances he was granted large financial packages to remain with Google. He also was known to have helped negotiate Google’s $3.2 billion deal to acquire Nest Labs in 2014. Therefore, when Google cofounders Larry Page and Sergey Brin announced the creation of Alphabet Inc., in August 2015, it came as no surprise to industry insiders that Pichai was named CEO of Google, which was reorganized as a subsidiary. In December 2019 he also was named CEO of Alphabet, replacing Page, who stepped down.</p>
  <p>On December 11, 2018, Sundar Pichai was questioned by the United States House Judiciary Committee on a range of Google-related issues such as possible political bias on Google's platforms, the company's alleged plans for a "censored search app" in China, and its privacy practices.[52] In response, Pichai told the committee that Google employees cannot influence search results. He also stated that Google users can opt out of having their data collected and that "there are no current plans for a censored search engine" in China.[53]

    In October 2020, the United States Senate Committee on Commerce, Science, and Transportation unanimously voted in favor of, and on a bipartisan basis, to subpoena Pichai, along with Facebook (today Meta) CEO Mark Zuckerberg and then Twitter CEO Jack Dorsey, to testify before the committee in response to lawmakers' concerns over the technology industry's exemption from Section 230 of the Communications Decency Act of 1934.[54]</p>
<style>
  h1{background-color: aquamarine;
    text-align:center;
     }
     image{
      text-align: center;
     }
     body{
      background-color: darkturquoise;
     }
</style>